﻿@using System.Web.UI.WebControls
@model IEnumerable<Videoclub.Web.Areas.Rentals.Models.RentalViewModel>

@{
    ViewBag.Title = "CustomerRentals";
}

<h2>CustomerRentals</h2>

<br/>

<h3>Customer @ViewBag.CustomerEmail has @ViewBag.TotalRentals rentals</h3>

<br/>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CopyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRented)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CopyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRented)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
        </tr>
    }

</table>


<br/>

<div>
    <a href="@Url.Action("ExportCustomerRentals", "Customers", new { id = @ViewBag.CustomerId })" class="btn btn-default btn-barilla">EXPORT CUSTOMER RENTALS</a>
</div>