﻿@model IEnumerable<Videoclub.Web.Areas.Customers.Models.CustomerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>List of all customers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfActiveRentals)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfActiveRentals)
            </td>
            <td>
                @Html.ActionLink("Customer Rentals", "CustomerRentals", new { id = item.ApplicationUserId }) |
                @Html.ActionLink("Delete Customer", "DeleteCustomer", new { id = item.ApplicationUserId })
            </td>
        </tr>
    }

</table>

<br/>
<br />

<div>
    <a href="@Url.Action("ExportCustomers", "Customers")" class="btn btn-default btn-barilla">EXPORT CUSTOMERS</a>
</div>
