﻿@model IEnumerable<Videoclub.Web.Areas.Rentals.Models.RentalViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRented)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRented)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>

            <td>
                @Html.ActionLink("Return Rental", "ReturnRental", new { id = item.Id })
            </td>
    
        </tr>
    }

</table>

<br/>
<br/>

<div>
    <a href="@Url.Action("ExportActiveRentals", "Rentals")" class="btn btn-default btn-barilla">EXPORT ACTIVE RENTALS</a>
</div>

<br />

<div>
    <a href="@Url.Action("ExportReturns", "Rentals")" class="btn btn-default btn-barilla">EXPORT RETURNS</a>
</div>