﻿@model PagedList.IPagedList<Videoclub.Web.Areas.Movies.Models.MovieViewModel>
@using PagedList.Mvc;



@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Add new movie", "AddMovie")
    </p>
}

@using (Html.BeginForm("Index", "Movies", FormMethod.Get))
{
    <p>
        Search by Title: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<br>

<h4>@ViewBag.MoviesCount movies found</h4>

<h6>@ViewBag.Error</h6>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Description
        </th>
        <th>
            @Html.ActionLink("Genre", "Index", new { sortOrder = ViewBag.GenreSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Available Copies
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>

            @{
                var availableCopiesCounter = 0;
            }

            @foreach (var copy in item.Copies)
            {
                if (copy.IsAvailable)
                {
                    availableCopiesCounter++;
                }
            }

            <td>
                @Html.Raw(availableCopiesCounter) /
                @Html.DisplayFor(modelItem => item.Copies.Count)
            </td>

            @if (User.IsInRole("Admin"))
            {
                <td>
                    @if (availableCopiesCounter > 0)
                    {
                        @Html.ActionLink("Rent Movie", "RentMovie", new { id = item.MovieId })
                    }
                    else
                    {
                        <p style="font-size: 14px; color: grey; display: inline;">Unavailable</p>
                    }
                    | @Html.ActionLink("Edit Movie", "UpdateMovie", new { id = item.MovieId }) |
                    @Html.ActionLink("Delete Movie", "DeleteMovie", new { id = item.MovieId })
                </td>
            }
        </tr>
    }
</table>

<br/>
<br />

<div>
    <a href="@Url.Action("ExportMovies", "Movies")" class="btn btn-default btn-barilla">EXPORT MOVIES</a>
</div>

<br />
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) out of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
